
<h1>Profil</h1>

<div class="container">
  <div class="row justify-content-md-center">
     <!-- Colonne n°1 -->
    <div class="col col-lg-4 border rounded border-black">

      <div class="row">
        <div class="col-lg-6 col-md-8 mb-4 mb-md-0 border border-danger">
          <div class="view overlay text-center">
            <img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60"
            class="img-fluid rounded border border-dark" alt="Card image cap">

            <div class="name">
              <h4 class="strong">NOM Prénom</h4>
            </div>

          </div>
        </div>
      </div>
    </div>

     <!-- Colonne n°2 -->
    <div class="col col-lg-0 border rounded border-black">
      Variable width content


    </div>
    <!-- Colonne n°3 -->
    <div class="col col-lg-6 border rounded border-black">

      <div >
        <h2 class="gras"> Bonjour</h2>

        <div>
        <p><Strong>Login</Strong> : abc</p>
        <p><strong>Mot de passe</strong> : *****</p>
        <p><Strong>Mail</Strong>: niglo@gmail.com</p>
        <p><Strong>Numéro</Strong> :</p>
      </div>
      </div>
      <button> Modifier le profil</button>


    </div>
  </div>




  <div class="card mt-3">

    <div class="row">
      <div class="col-lg-6 col-md-8 mb-4 mb-md-0 border border-danger">
        <div class="view overlay text-center">
          <img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60"
          class="img-fluid rounded border border-dark" alt="Card image cap">
          <div class="name">
            <h4 class="strong">NOM Prénom</h4>
          </div>
        </div>
      </div>

      <div class="identifiant col-lg-6 col-md-8 mb-0 mb-md-0 border border-danger">
        <h2 class="strong"> Bonjour</h2>
        <p><Strong>Login</Strong> : abc</p>
        <p><strong>Mot de passe</strong> : *****</p>
        <p><Strong>Mail</Strong>: niglo@gmail.com</p>
        <p><Strong>Numéro</Strong> :</p>
        <button> Modifier le profil</button>
      </div>
    </div>

    <br><br><br><br> <!-- Ajout de ligne d'espace -->

    <div class=" deroule row">
      <div class="col-lg-6 col-md-8 mb-0 mb-md-0 border border-primary">
        <div class=" view overlay ">
          <h5><strong>haut droite <i class=" plus fas fa-plus"></i></strong></h5>

          <div data-spy="scroll" data-target="#myScrollspy"
          style="height:150px; overflow-y: scroll; padding:2px; border: 1px solid #ccc;">
          <p>XXX<i class="moins fas fa-times"></i></p>
        </div>

      </div>
    </div>

    <div class="col-lg-6 col-md-8 mb-4 mb-md-0 border border-success">
      <h5><strong>haut gauche<i class=" plus fas fa-plus"></i></strong></h5>
      <div data-spy="###" data-target="###"
      style="height:150px;overflow-y: scroll;padding:2px; border: 1px solid #ccc;">
      <p>XXX<i class="moins fas fa-times"></i></p>
    </div>
    <br><br>
  </div>

</div>

<div class="basPage row">
  <div class="col-lg-6 col-md-8 mb-4 mb-md-0">
    <div class=" view overlay ">
      <h5><strong>bas droite :</strong> xxxxxx</h5>
    </div>
  </div>
  <div class="col-lg-6 col-md-8 mb-4 mb-md-0">
    <h5><strong>bas gauche  :</strong> xxxxxx</h5>
  </div>
</div>





