<div>

</div>

<h1> Workbench Client  </h1>
<section id="information" class="h-100" style="background-color:white">
  <div class="float-child1" style="background-color:white">

           <div class="container">
  <h1>Comptes</h1>
  <table class="table">
      <tr>
          <th>Id</th>
          <th>Solde</th>
          <th>Carte</th>
      </tr>


  </table>
</div>

  </div>
  <div class="float-child2" style="background-color: orangered;">
      <div class="row d-flex justify-content-center align-items-center h-100">


          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:300px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 500px;">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                       alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                       style="width: 150px; z-index: 1">
                  <h5>Prenom Nom</h5>
                  <p>Client</p>
              </div>
          </div>
          <button type="button" class="btn btn-light" data-mdb-ripple-color="dark"
                  style="z-index: 1";>
              Edit profile
          </button>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                  <div>
                      <p class="mb-1 h5">25</p>
                      <p class="small text-muted mb-0">Nombre Clients</p>
                  </div>
                  <div class="px-3">
                      <p class="mb-1 h5">30</p>
                      <p class="small text-muted mb-0">Nombre Comptes</p>
                  </div>

              </div>
          </div>
          <div class="card-body p-4 text-black">
              <div class="mb-5">
                  <p class="lead fw-normal mb-1">About</p>
                  <div class="p-4" style="background-color: #f8f9fa;">
                      <p class="font-italic mb-1">Web Developer</p>
                      <p class="font-italic mb-1">Lives in New York</p>
                      <p class="font-italic mb-0">Photographer</p>
                  </div>
              </div>


          </div>

      </div>
  </div>
</section>
