<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="background-color: white;">
    <div class="container-fluid justify-content-between">

        <!-- Elements de gauche -->
        <div class="d-flex">
            <!-- Logo Borrow It -->
            <a class="navbar-brand me-2 mb-1 d-flex align-items-center" routerLink="">
                <img src="https://imagizer.imageshack.com/img922/6255/twmxL1.png" height="50" alt="BorrowIt Logo"
                    loading="lazy" />
            </a>

        </div>
        <!-- Fin éléments de gauche -->


        <!-- Elements du milieu // BARRE DE RECHERCHE AU CENTRE CAR MARGIN LEFT CI DESSOUS-->
        <div class="navbar-nav flex-row d-none d-md-flex" style=" margin-left: 200px;" *ngIf="this.route.url ==='/'">
            <form class="input-group w-auto my-auto d-none d-sm-flex" #searchForm="ngForm"
                (ngSubmit)="searchObjet(searchForm.value.saisie); route.navigateByUrl('')">
                <input autocomplete="off" type="search" class="form-control rounded" placeholder="Rechercher"
                    style="min-width: 125px;" id="barre-recherche" name="saisie" ngModel="" />
                <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
            </form>
        </div>
        <!-- Fin éléments du milieu-->


        <!-- Elements de droite -->
        <ul class="navbar-nav flex-row">
            <li class="mise-en-loc nav-item me-3 me-lg-1">
                <a class=" louer-objet nav-link d-sm-flex align-items-sm-center" routerLink="ajouter-objet">
                    Mettre mon objet en location
                </a>
            </li>

            <li class="nav-item me-3 me-lg-1" *ngIf="authService.isConnected()">
                <a class="premium nav-link d-sm-flex align-items-sm-center" style="color: rgb(228, 196, 15);"
                    routerLink="abonnement">
                    Devenez Premium
                </a>
            </li>

            <li class="nav-item me-3 me-lg-1" *ngIf="authService.isNotConnected()">
                <div class="text-center">
                    <a class="nav-link d-sm-flex align-items-sm-center" data-toggle="modal"
                        data-target="#modalLoginForm">
                        <strong class="d-none d-sm-block ms-1">Se connecter</strong>
                    </a>
                </div>
            </li>



            <li class="nav-item dropdown me-3 me-lg-1" *ngIf="authService.isConnected()">
                <a class="nav-link dropdown-toggle hidden-arrow" style="color: black;" id="navbarDropdownMenuLink"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-chevron-circle-down fa-lg"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" routerLink="profil"
                            (click)="userservice.setUser(authService.getUserConnect())" style="font-weight: bolder;">mon
                            profil</a>
                    </li>
                    <li>
                        <a class="dropdown-item" style="font-weight: bolder;">ajouter un ami</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="emprunts" style="font-weight: bolder;">mes emprunts</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="locations" style="font-weight: bolder;">mes locations</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="ajouter-objet" style="font-weight: bolder;">ajouter un
                            objet</a>
                    </li>
                    <hr>
                    <li>
                        <a class="dropdown-item" (click)="authService.deconnexion()"
                            style="font-weight: bolder;">Deconnexion</a>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- Fin des éléments de droite -->

    </div>
</nav>
<!-- Fin navbar -->


<!-- Formulaire de connexion -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Connexion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3">
                <form #loginForm="ngForm" (ngSubmit)="connexion(loginForm.value)">
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input name="mail" type="email" id="formemail" class="form-control validate" ngModel="">
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input name="motDePasse" type="password" id="formpassword" class="form-control validate"
                            ngModel="">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Mot de passe</label>
                    </div>
                    <div class="error-text text-center" *ngIf="msgErr != null">
                        {{ msgErr }}
                    </div>
                    <div class="d-flex flex-column text-center">
                        <button class="btn btn-default btn-round custom-close" id="closeModal">Connexion</button>
                    </div>
                </form>
            </div>

            <div class="modal-footer d-flex justify-content-center">

                <p>Pas encore membre ? <a class="tooltip-test" data-toggle="modal" data-dismiss="modal"
                        data-target="#modalInscriptionForm" style="color: cornflowerblue;">Inscrivez-vous</a></p>

            </div>

        </div>
    </div>
</div>
<!-- Fin de formulaire de connexion -->

<!-- Formulaire d'inscription -->
<div class="modal fade" id="modalInscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Inscription</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3">
                <form #inscriptionForm="ngForm" (ngSubmit)="inscription(inscriptionForm.value)">

                    <div class="md-form">
                        <i class="fas fa-solid fa-user prefix grey-text"></i>
                        <input name="nom" type="text" id="defaultForm-nom" class="form-control validate" ngModel="">
                        <label data-error="wrong" data-success="right" for="defaultForm-nom">Nom</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-solid fa-user prefix grey-text"></i>
                        <input name="prenom" type="text" id="defaultForm-prenom" class="form-control validate"
                            ngModel="">
                        <label data-error="wrong" data-success="right" for="defaultForm-prenom">Prénom</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-solid fa-phone prefix grey-text"></i>
                        <input name="numeroTelephone" type="tel" id="defaultForm-numeroTelephone"
                            class="form-control validate" ngModel="" pattern="[0-9]{10}">
                        <label data-error="wrong" data-success="right" for="defaultForm-numeroTelephone">Numéro de
                            téléphone</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input name="mail" type="email" id="defaultForm-mail" class="form-control validate" ngModel="">
                        <label data-error="wrong" data-success="right" for="defaultForm-mail">Email</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input name="motDePasse" type="password" id="defaultForm-pass" class="form-control validate"
                            ngModel="">
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Mot de passe</label>
                    </div>
                    <div class="d-flex flex-column text-center"><button
                            class="btn btn-default btn-round">S'inscrire</button>
                    </div>
                </form>
            </div>

            <div class="modal-footer d-flex justify-content-center">
                <p>Déjà membre ? <a class="tooltip-test" data-toggle="modal" data-dismiss="modal"
                        data-target="#modalLoginForm" style="color: cornflowerblue;">Connexion</a></p>
            </div>

        </div>
    </div>
</div>
<!-- Fin de formulaire d'inscription -->