<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid justify-content-between">

        <!-- Elements de gauche -->
        <div class="d-flex">
            <!-- Logo Borrow It -->
            <a class="navbar-brand me-2 mb-1 d-flex align-items-center">
                <img src="https://imagizer.imageshack.com/img922/6255/twmxL1.png" height="50" alt="BorrowIt Logo"
                    loading="lazy" />
            </a>

            <!--
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            -->

        </div>
        <!-- Fin éléments de gauche -->


        <!-- Elements du milieu -->
        <div class="navbar-nav flex-row d-none d-md-flex">
            <form class="input-group w-auto my-auto d-none d-sm-flex">
                <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search"
                    style="min-width: 125px;" />
                <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
            </form>
        </div>
        <!-- Fin éléments du milieu-->


        <!-- Elements de droite -->
        <ul class="navbar-nav flex-row">
            <li class="nav-item me-3 me-lg-1">
                <a class="nav-link d-sm-flex align-items-sm-center">
                    Louer votre objet
                </a>
            </li>

            <!--*ngIf="authService.isNotConnected()" -->
            <li class="nav-item me-3 me-lg-1">
                <div class="text-center">
                    <a class="nav-link d-sm-flex align-items-sm-center" data-toggle="modal"
                        data-target="#modalLoginForm">
                        <strong class="d-none d-sm-block ms-1">Se connecter</strong>
                    </a>
                </div>
            </li>

            <!--*ngIf="authService.isConnected()" -->
            <li class="nav-item dropdown me-3 me-lg-1">
                <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-comments fa-lg"></i>

                    <span class="badge rounded-pill badge-notification bg-danger"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" routerLink="profil.">Profil</a>
                </li>
                  <li>
                    <a class="dropdown-item" routerLink="profil">Some news</a>
                </li>
                  <li>
                        <a class="dropdown-item"routerLink="profil">Some news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </li>

            <!--*ngIf="authService.isConnected()" -->
            <li class="nav-item dropdown me-3 me-lg-1">
                <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-chevron-circle-down fa-lg"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" routerLink="profil">Profil</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- Fin des éléments de droite -->

    </div>
</nav>
<!-- Fin navbar -->


<!-- Formulaire de connexion -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Connexion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="defaultForm-email" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password" id="defaultForm-pass" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Mot de passe</label>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
                <div class="row">
                    <button class="btn btn-default">Connexion</button>
                </div>

                <div class="row">
                    <a class="tooltip-test" data-toggle="modal" data-dismiss="modal"
                        data-target="#modalInscriptionForm">Inscription</a>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Formulaire d'inscription -->
<div class="modal fade" id="modalInscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Inscription</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="defaultForm-email" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Nom</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="defaultForm-email" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Prénom</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="defaultForm-email" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password" id="defaultForm-pass" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Mot de passe</label>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
                <div class="row">
                    <button class="btn btn-default">S'inscrire</button>
                </div>

                <div class="row">
                    <a class="tooltip-test" data-toggle="modal" data-dismiss="modal" data-target="#modalLoginForm">Se
                        connecter</a>
                </div>
            </div>

        </div>
    </div>
</div>
