<div class="ml-4 mr-4 mt-4 mb-5 log text-center">
    <div class="container justify-content-center">
        <div class="container justify-content-center mb-4">
            <button type="button" class="btn active" style="background-color: rgb(37, 37, 37); color: white;"
                *ngIf="listeLocVisible.getListeLocVisible() == 'demandeRecues'">Demandes reçues</button>
            <button type="button" class="btn" style="background-color: rgb(133, 133, 133); color: white;"
                *ngIf="listeLocVisible.getListeLocVisible() != 'demandeRecues'"
                (click)="listeLocVisible.setListeLocVisible('demandeRecues'); locPointeAnnulation = null">Demandes
                reçues</button>
            <button type="button" class="btn active" style="background-color: rgb(37, 37, 37); color: white;"
                *ngIf="listeLocVisible.getListeLocVisible() == 'demandeAcceptees'">Demandes acceptées</button>
            <button type="button" class="btn" style="background-color: rgb(133, 133, 133); color: white;"
                *ngIf="listeLocVisible.getListeLocVisible() != 'demandeAcceptees'"
                (click)="listeLocVisible.setListeLocVisible('demandeAcceptees'); locPointeAnnulation = null">Demandes
                acceptées</button>
            <button type="button" class="btn active" style="background-color: rgb(37, 37, 37); color: white;"
                *ngIf="listeLocVisible.getListeLocVisible() == 'enCours'">Locations en cours</button>
            <button type="button" class="btn" style="background-color: rgb(133, 133, 133); color: white;"
                *ngIf="listeLocVisible.getListeLocVisible() != 'enCours'"
                (click)="listeLocVisible.setListeLocVisible('enCours'); locPointeAnnulation = null">Locations en
                cours</button>
            <button type="button" class="btn active" style="background-color: rgb(37, 37, 37); color: white;"
                *ngIf="listeLocVisible.getListeLocVisible() == 'historique'">Historique locations</button>
            <button type="button" class="btn" style="background-color: rgb(133, 133, 133); color: white;"
                *ngIf="listeLocVisible.getListeLocVisible() != 'historique'"
                (click)="listeLocVisible.setListeLocVisible('historique'); locPointeAnnulation = null">Historique
                locations</button>
        </div>
        <div class="container">
            <div class="row" *ngFor="let loc of locations" style="justify-content: center;">
                <span
                    *ngIf="(loc.valide && getComparaisonToday(loc) == 'future' && listeLocVisible.getListeLocVisible() == 'demandeAcceptees') || 
                    (!loc.valide && listeLocVisible.getListeLocVisible() == 'demandeRecues') || 
                    (loc.valide && (getComparaisonToday(loc) == 'enCours' || getComparaisonToday(loc) == 'enCoursFinie') && listeLocVisible.getListeLocVisible() == 'enCours') ||
                    (loc.valide && getComparaisonToday(loc) == 'historique' && listeLocVisible.getListeLocVisible() == 'historique')">
                    <div class="card mb-4" style="background-color: rgb(226, 226, 226);">
                        <div class="card col-sm-12"
                            style="width: 50rem; box-shadow: 1px 1px 3px 3px rgba(255, 205, 205, 0.925);">
                            <div class="row g-0">
                                <div class="img-objet col-md-6">
                                    <img src="{{ loc.objet.urlPhoto }}" class="card-img-top" alt="...">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ loc.objet.nom }}</h5>
                                        <p class="card-text">{{ getDiffDates(loc.dateFin, loc.dateDebut) }} jour(s) du
                                            {{ loc.dateDebut }} au
                                            {{
                                            loc.dateFin }}<br>
                                            total : {{ getDiffDates(loc.dateFin, loc.dateDebut) * loc.objet.prixJour }}€
                                            <br>
                                            caution : {{ loc.objet.caution }}€ <br>
                                            <span
                                                *ngIf="getComparaisonToday(loc) == 'historique' && getDiffDates(loc.dateFinReelle, loc.dateFin) != 1">
                                                {{ getDiffDates(loc.dateFinReelle, loc.dateFin) - 1 }} jour(s) de retard
                                                (rendu le {{ loc.dateFinReelle }})
                                            </span>
                                        </p>

                                        <button type="button" class="btn btn-danger"
                                            *ngIf="listeLocVisible.getListeLocVisible() == 'demandeAcceptees'"
                                            (click)="locPointeAnnulation = loc">Annuler</button>
                                        <button type="button" class="btn btn-danger"
                                            *ngIf="listeLocVisible.getListeLocVisible() == 'enCours' || listeLocVisible.getListeLocVisible() == 'enCoursFinie'"
                                            (click)="signalerUser.setUserSignaler(loc.locataire); route.navigateByUrl('/signalement')">
                                            Signaler</button>
                                        <button type="button" class="btn"
                                            style="background-color: rgb(37, 37, 37); color: white;"
                                            *ngIf=" listeLocVisible.getListeLocVisible() !='' " (click)=" userservice.setUser(loc.objet.locataire);
                                            route.navigateByUrl('/profil')">
                                            Voir Locataire</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container" *ngIf="listeLocVisible.getListeLocVisible() == 'demandeRecues'">
                            <button type="button" class="btn btn-success"
                                (click)="validerLocation(loc.id)">Accepter</button>
                            <button type="button" class="btn btn-danger"
                                (click)="refuserLocation(loc.id)">Refuser</button>
                        </div>

                        <div class="card" style="background-color: rgb(226, 226, 226);"
                            *ngIf="locPointeAnnulation == loc">
                            <p>
                                Êtes-vous sûr(e) ?
                            </p>
                            <button type="button" class="btn btn-info"
                                (click)="locPointeAnnulation = null; refuserLocation(loc.id)">Oui</button>
                            <button type="button" class="btn btn-info" (click)="locPointeAnnulation = null">Non</button>
                        </div>

                        <div class="card" style="background-color: rgb(226, 226, 226);"
                            *ngIf="getComparaisonToday(loc) == 'enCoursFinie'">
                            <p style="margin-top: 5px;">
                                Date de rendu ?
                            </p>
                            <form #finLocationForm="ngForm"
                                (ngSubmit)="putFinLocation(loc.id, finLocationForm.value.date)">
                                <div class="form-group">
                                    <input class="form-control" type="date" name="date" min="2023-03-10"
                                        max="2023-12-31" ngModel="" required>
                                </div>
                                <button class="btn submit-btn btn-success" type="submit">Valider</button>
                            </form>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>