<p>star-rating-component works!</p>

<div class="star-rating">
  <!--<span class="star" *ngFor="let star of stars" [class.filled]="star <= currentRate" (click)="rate(star)"></span>-->
</div>

<br><br><br><br><br>
<p>star-rating-component works!</p>

<div class="star-rating">
  <span class="star" *ngFor="let star of stars" [ngClass]="{ 'filled': star <= currentRate, 'half-filled': star - 0.5 <= currentRate && currentRate < star }" (click)="rate(star)">
    <span class="star-icon">★</span>
  </span>
</div>

<br><br><br><br><br>
<p>star-rating-component works!</p>

<div class="star-rating">
  <span class="star" *ngFor="let star of stars" [ngClass]="{ 'filled': star <= currentRate, 'half-filled': star - 0.5 <= currentRate && currentRate < star }" (click)="rate(star)">
    <span class="star-icon">&#9733;</span>
  </span>
</div>
