<p>star-rating-component works!</p>

<div class="star-rating">
  <!--<span class="star" *ngFor="let star of stars" [class.filled]="star <= currentRate" (click)="rate(star)"></span>-->
</div>

<br><br><br><br><br>
<p>star-rating-component works!</p>

<div class="star-rating">
  <span class="star" *ngFor="let star of stars"
    [ngClass]="{ 'filled': star <= currentRate, 'half-filled': star - 0.5 <= currentRate && currentRate < star }"
    (click)="rate(star)">
    <span class="star-icon">★</span>
  </span>
</div>

<br><br><br><br><br>
<p>star-rating-component works!</p>

<div class="star-rating">
  <span class="star" *ngFor="let star of stars"
    [ngClass]="{ 'filled': star <= currentRate, 'half-filled': star - 0.5 <= currentRate && currentRate < star }"
    (click)="rate(star)">
    <span class="star-icon">&#9733;</span>
  </span>
</div>

<div class="card">

  <div class="rating">
    <a href="#5" title="Donner 5 étoiles">☆</a>
    <a href="#4" title="Donner 4 étoiles">☆</a>
    <a href="#3" title="Donner 3 étoiles">☆</a>
    <a href="#2" title="Donner 2 étoiles">☆</a>
    <a href="#1" title="Donner 1 étoile">☆</a>
  </div>
</div>
