<div class="ml-4 mt-4 mb-5">
  <div class="container" style="max-width: 100%">

    <!-- Ligne 1 -->
    <div class="row ligne1">

      <!-- Colonne Side Nav Bar -->
      <div class="navbar"></div>

      <!-- Colonne n° 0 -->
      <div class="col-2" style="z-index: 1">
        <h1>Profil</h1>

        <mat-sidenav #sidenav mode="side" opened>
          <mat-nav-list class="menuContainer">
            <a mat-list-item routerLink="">Accueil</a>
            <a mat-list-item (click)="allerVersElement('Mesobjetsredir')">Mes objets</a>
            <a mat-list-item routerLink="/locations">Gérer mes locations</a>
            <a mat-list-item routerLink="/parametres">Modifier votre profil</a>
          </mat-nav-list>
        </mat-sidenav>
      </div>

      <!-- Colonne n°1 -->
      <div class="col-4 justify-content-md-center text-center mt-3 " style="align-content: center">

        <div class="photoProfile">
          <img src="{{user.urlPhoto}}" class="img img-fluid " alt="Image profil">
          <h4 class="titre4">{{ user.nom }} {{ user.prenom }}</h4>
        </div>
      </div>

      <!-- Colonne n°2 -->
      <div class="col-6 justify-content-md-center mt-3">



        <div class="card-header">
          <h2 class="gras"> Bonjour, je suis {{ user.prenom }}</h2>
          <h5 class="grey-text maxtaille">Membre depuis {{ user.dateCreation | date:'MMMM yyyy':'':'fr' }}</h5>

          <div style="margin-left: 2.5%;">
            <div *ngIf="finAbonn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(228, 196, 15)"
              class="bi bi-patch-check-fill" viewBox="0 0 16 16" style="margin-bottom: 2%; margin-bottom: 2%;">
              <path
                d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
            </svg> <span class="ml-2">Profil certifié</span>
          </div>
          </div>

        </div>


        <!-- Info contact personnel dispo -->
        <div class="card-text">
          <div class="log" *ngIf="authService.isConnected()">
            <div>
              <ul class="text1large">
                <div style="text-align: right;" *ngIf="onlyViewbyMySelf">
                <p class="grey-text" style=" margin-right: 2%; text-align: right;"  *ngIf="finAbonn">Premium jusqu'au {{
                  finAbonn | date:'dd MMMM yyyy':'':'fr' }}</p>
                </div>
                <br *ngIf ="!finAbonn">
                <br *ngIf ="notViewbyMySelf">
                <ng-template #elseBlock>Content to render when condition is false.</ng-template>
                  <li><Strong>Mail</Strong>: {{ user.mail }} </li>
                <p><br></p>
                <li><Strong>Numéro</Strong> : {{ user.numeroTelephone }} </li>
                <br>
              </ul>
            </div>
          </div>

          <div class="log d-flex justify-content-between" *ngIf="authService.isNotConnected()">
            <p><Strong>Pour me contacter :</Strong></p>

            <div class="log text-center">
              <button type="button" class="btn" data-toggle="modal" data-target="#modalLoginForm">Connectez
                vous</button>
              <p></p>
            </div>

          </div>

          <div class="card-footer">
            <div class="">
              <h5>J'ai déjà effectué XX locations</h5>
              <h5><a href="###" title="Moyenne des Notes" class="passiv_star"> {{ user.note }} ★ <small
                    style="color: black;">(XX avis)</small>
                </a></h5>
              <p id="Mesobjetsredir"></p>
            </div>
          </div>
        </div>


      </div>

    </div>


    <div class="row ligne2 justify-content-center ">
      <div class="col-2" style="z-index: 1">
        <h2 id="#">Mes objets</h2>
      </div>

      <!--  Bar de classification -->
      <div class="col-10 mt-3 justify-content-center">

        <!-- DEBUT CARDS d'objet -->
        <div class="mt-4 mb-5">
          <div class="container" style="max-width:max-content;">
            <div class="row">

              <div class="conteneur col-2" *ngFor="let o of objets">
                <div class="card mt-2">
                  <a routerLink="/objet" (click)="recupObjetService.setObjet(o)">
                    <img class="card-img-top" src="{{ o.urlPhoto }}">
                  </a>
                  <div class="card-block">
                    <h4 class="card-title cursor-hover" routerLink="/objet"
                      style="max-width: 100%; font-size: initial;">{{ o.nom }}</h4>
                    <p class="card-descrip">
                      <br>
                      {{ o.description }}
                    </p>
                    <div class="ml-2 mb-1">
                      <small class="text-muted">
                        Ajouté le {{ o.dateCreation | date:'dd MMMM yyyy':'':'fr'}}
                      </small>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div> <!-- FIN CARDS -->

        <!--
        <div class="mt-4 d-flex justify-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>


         -->
      </div>

    </div> <!--  Fin ligne 2 -->

    <!--  Fin ligne 3 -->
    <div class="row ligne3 justify-content-center ">
      <div class="col-2" style="z-index: 1">
        <h2 id=""></h2>
      </div>

      <div class="col-10 mt-3">
        <!--  Signaler l'utilisateur -->
        <div style="text-align: right;" *ngIf="notViewbyMySelf">
          <p style="text-align: right;">Vous voulez signaler l'utilisateur ?</p>
          <button class="btn" type="button" data-toggle="modal" data-dismiss="modal" routerLink="/signalement">Signaler
            l'utilisateur</button>
        </div>

        <div class="log" style="text-align: right;" *ngIf="authService.isNotConnected()">
          <p style="text-align: right;">Vous voulez signaler l'utilisateur ?</p>
          <button type="button" class="btn" data-toggle="modal" data-dismiss="modal"
            data-target="#modalLoginForm">Signaler l'utilisateur</button>
          <p></p>
        </div>
      </div>

    </div> <!-- Fin ligne3 -->

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


  </div> <!-- fin container -->
</div> <!-- fin marge -->
<!--
<div class="container">
  <div class="col-2" style="z-index: 2">
    <h1 id="MesLocations">Profilx</h1>
  </div>
  <div class="row">
    <div class="col-10">
      One of three columns
    </div>
  </div>
</div>

  <div class="row ligne1">
<div class="col-2" style="z-index: 2">
  <h1 id="MesLocations">Profilx</h1>
</div>
</div>
Lien pour autres -->
