<div class="ml-4 mr-4 mt-4 mb-5">
  <div class="container" style="max-width: 100%">
    <div class="row ligne1">

      <!-- Colonne Side Nav Bar -->
      <div class="navbar"></div>

      <!-- Colonne n° 0 -->
      <div class="col-2" style="z-index: 1">
        <h1>Profil</h1>

          <mat-sidenav #sidenav mode="side" opened>
            <mat-nav-list class="menuContainer">
              <a mat-list-item routerLink="/accueil">Accueil</a>
              <a mat-list-item routerLink="/parametres">Inventaire</a>
              <a mat-list-item (click)="allerVersElement('Mesobjetsredir')">Mes objets</a>
              <a mat-list-item routerLink="/locations">Gérer mes locations</a>
              <a mat-list-item routerLink="/parametres">Modifier votre profil</a>
            </mat-nav-list>
          </mat-sidenav>

      </div>

      <!-- Colonne n°1 -->
      <div class="col-4 justify-content-md-center text-center mt-3 " style="align-content: center">

        <div class="photoProfile">
          <img src="{{user.urlPhoto}}" class="img img-fluid " alt="Image profil">
          <h4 class="titre4">{{ user.nom }} {{ user.prenom }}</h4>
        </div>

      </div>

      <!-- Colonne n°2 -->
      <div class="col-6 justify-content-md-center mt-3">


        <div class="card-header">
          <h2 class="gras"> Bonjour, je suis {{ user.prenom }}</h2>
          <h5 class="grey-text maxtaille">Membre depuis {{ user.dateCreation | date:'MMMM yyyy':'':'fr' }}</h5>
        </div>


        <!-- Info contact personnel dispo -->
        <div class="card-text">
          <div class="log" *ngIf="authService.isConnected()">
            <br>
            <ul class="text1large">
              <br>
              <li><Strong>Mail</Strong>: {{ user.mail }} </li>
              <p><br></p>
              <li><Strong>Numéro</Strong> : {{ user.numeroTelephone }} </li>
            </ul>
            <br><br>
          </div>

          <div class="log d-flex justify-content-between" *ngIf="authService.isNotConnected()">
            <p><Strong>Pour me contacter :</Strong></p>

            <div class="log text-center">
              <button type="button" class="btn" data-toggle="modal" data-target="#modalLoginForm">Connectez
                vous</button>
              <p></p>
            </div>



          </div>
          <!--
            <div class="card-footer">
            <button type="button" class="" data-veloute="###">Modifier le profil</button>
            </div>-->

          <div class="card-footer">
            <div class="">
              <h5>J'ai déjà effectué XX locations</h5>
              <h5><a href="notation" title="Moyenne des Notes" class="passiv_star"> {{ user.note }} ★ <small
                    style="color: black;">(XX avis)</small>
                </a></h5>
            </div>
          </div>

        </div>


      </div>
    </div>

    <div class="row ligne2 justify-content-center ">
      <div class="col-2" style="z-index: 1">
        <h2 id="Mesobjetsredir">Mes objets</h2>
      </div>

       <!--  Bar de classification -->
      <div class="col-10 mt-3 justify-content-center border">
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink=""><img src="https://i.goopics.net/k9x1py.png" height="30"
                alt="BorrowIt Logo" loading="lazy" /></a>
            <p class="text-center">outils</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><img src="https://i.goopics.net/y7bhsj.png" height="30"
                alt="BorrowIt Logo" loading="lazy" /></a>
            <p class="text-center">livres</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><img src="https://i.goopics.net/oazyxx.png" height="30"
                alt="BorrowIt Logo" loading="lazy" /></a>
            <p class="text-center">jeux</p>
          </li>
          <li class="nav-item justify-content-center">
            <a class="nav-link" routerLink=""><img src="https://i.goopics.net/9himml.png" height="30"
                alt="BorrowIt Logo" loading="lazy" /></a>
            <p class="text-center">musique</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><img src="https://i.goopics.net/p9ujew.png" height="30"
                alt="BorrowIt Logo" loading="lazy" /></a>
            <p class="text-center">films</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><img src="https://i.goopics.net/8tds6u.png" height="30"
                alt="BorrowIt Logo" loading="lazy" /></a>
            <p class="text-center">mode</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><img src="https://i.goopics.net/6uc1yi.png" height="30"
                alt="BorrowIt Logo" loading="lazy" /></a>
            <p class="text-center">immobilier</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><img src="https://i.goopics.net/laimnu.png" height="30"
                alt="BorrowIt Logo" loading="lazy" /></a>
            <p class="text-center">Sport</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><img src="https://i.goopics.net/2ij49a.png" height="30"
                alt="BorrowIt Logo" loading="lazy" /></a>
            <p class="text-center">informatique</p>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><img src="https://i.goopics.net/6wbehu.png" height="30"
                alt="BorrowIt Logo" loading="lazy" /></a>
            <p class="text-center">véhicules</p>
          </li>
          <!-- Lien pour autres -->
          <li class="nav-item">
            <a class="nav-link" routerLink=""><img src="https://i.goopics.net/t7q6k8.png" height="30"
                alt="BorrowIt Logo" loading="lazy" /></a>
            <p class="text-center">autres</p>
          </li>
        </ul>
      </div>
    </div>


    <!-- DEBUT CARDS d'objet -->
    <div class="ml-4 mr-4 mt-4 mb-5">
      <div class="container" style="max-width:max-content;">
        <div class="row">
          <div class="col-sm-2" *ngFor="let o of objets">
            <div class="card">
              <a routerLink="/objet" (click)="recupObjetService.setObjet(o)">
                <img class="card-img-top" src="{{ o.urlPhoto }}">
              </a>
              <div class="card-block">
                <h4 class="card-title cursor-hover" routerLink="/objet">{{ o.nom }}</h4>
                <p class="card-text">
                  {{ o.description }}
                </p>
                <div class="left-bottom-card">
                  <a routerLink="/profil" (click)="userservice.setUser(o.proprietaire)">
                    <img class="card-img-bot" src="{{o.proprietaire.urlPhoto}}">
                  </a>
                </div>
                <div class="right-bottom-card mb-4">
                  <p class="card-text">
                    <small class="text-muted">
                      Ajouté il y a 2 jours par
                    </small>
                    <br>
                    <small class="card-text-nom">
                      {{ user.nom }} {{ user.prenom }}
                    </small>
                  </p>

                </div>
              </div>
            </div>
            <br>
          </div>

        </div>
      </div>
    </div>



    <!-- FIN CARDS -->
    <!-- DEBUT NUMERO PAGE -->
    <div class="mt-4 d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- FIN NUMERO PAGE -->



    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>

  <!--
<div class="container">
  <div class="col-2" style="z-index: 2">
    <h1 id="MesLocations">Profilx</h1>
  </div>
  <div class="row">
    <div class="col-10">
      One of three columns
    </div>
  </div>
</div>

  <div class="row ligne1">
<div class="col-2" style="z-index: 2">
  <h1 id="MesLocations">Profilx</h1>
</div>
</div>
Lien pour autres -->
