<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let u of users">
            <div class="panel panel-default userlist shadow-lg p-3 mb-5 bg-white rounded">
                <div class="panel-body text-center">
                    <div class="userprofile">
                        <div class="userpic mb-5"> <img src="{{u.urlPhoto}}" alt="" class="userpicimg"> </div>
                        <h3 class="username">{{u.nom}} {{u.prenom}}</h3>
                    </div>
                    <strong>Nombre de signalements : </strong><br>
                    <h3>0</h3>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalSignalement"
                            (click)="signalementById(u.id)">Signalements</button>
                        <button type="button" class="btn btn-warning">Avertissement</button>
                        <button type="button" class="btn btn-danger" (click)="user=u" data-toggle="modal"
                            data-target="#modalBannir">Bannir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSignalement" role="dialog" tabindex="-1" aria-labelledby="BackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <h3>#</h3>
                                </th>
                                <th scope="col">
                                    <h3 class="text-left">Type</h3>
                                </th>
                                <th scope="col">
                                    <h3>Commentaire</h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let s of signalementsById">
                            <tr>
                                <th scope="row">{{s.id}}</th>
                                <td><b><strong> {{ s.typeSignalement }}</strong></b> </td>
                                <td>{{s.commentaire}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalBannir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Etes-vous sûr de vouloir bannir cet utilisateur ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger text-center" data-dismiss="modal"
                    (click)="deleteUserById(user.id)">Oui</button>
                <button type="button" class="btn text-center" data-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>