<!-- DEBUT CARDS -->
<!-- LIGNE 1 CARDS -->
<div class="ml-4 mr-4 mt-4">
    <div class="container mt-3" style="max-width:max-content;">
        <div class="card-deck " style="width: 2000px align-items-center">
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png"
                    alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This is a longer card with supporting
                        text below as a natural lead-in to
                        additional content. This content
                        is a little bit longer.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Tournevis</h4>
                    <p class="card-text justify-content-between">
                        Tournevis du turfu à louer
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This card has
                        even longer content than the first
                        to show that equal height action.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This card has supporting text below
                        as a natural lead-in to additional
                        content.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This card has supporting text below
                        as a natural lead-in to additional
                        content.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <!-- LIGNE 2 CARDS -->
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png"
                    alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This is a longer card with supporting
                        text below as a natural lead-in to
                        additional content. This content
                        is a little bit longer.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This card has supporting text below
                        as a natural lead-in to additional
                        content.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This card has
                        even longer content than the first
                        to show that equal height action.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This card has supporting text below
                        as a natural lead-in to additional
                        content.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This card has supporting text below
                        as a natural lead-in to additional
                        content.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>

        </div>
        <br>

        <!-- LIGNE 3 CARDS -->

        <div class="card-deck " style="width: 2000px align-items-center">
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png"
                    alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This is a longer card with supporting
                        text below as a natural lead-in to
                        additional content. This content
                        is a little bit longer.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This card has supporting text below
                        as a natural lead-in to additional
                        content.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This card has
                        even longer content than the first
                        to show that equal height action.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This card has supporting text below
                        as a natural lead-in to additional
                        content.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This card has supporting text below
                        as a natural lead-in to additional
                        content.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <br>

        <!-- LIGNE 4 CARDS -->
        <div class="card-deck " style="width: 2000px align-items-center">
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png"
                    alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This is a longer card with supporting
                        text below as a natural lead-in to
                        additional content. This content
                        is a little bit longer.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This card has supporting text below
                        as a natural lead-in to additional
                        content.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This is a wider card with supporting
                        text below as a natural lead-in to
                        additional content. This card has
                        even longer content than the first
                        to show that equal height action.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This card has supporting text below
                        as a natural lead-in to additional
                        content.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://imagizer.imageshack.com/img924/5603/rAw8C6.png">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        This card has supporting text below
                        as a natural lead-in to additional
                        content.
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            Last updated 3 mins ago
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIN CARDS -->